/*---Universal style---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background: #F8F4E3;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                 Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                 'Helvetica Neue', sans-serif;    
                 display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-grow: 1;
}

/*---Card style---*/
.card {
    border: 2px solid #2c80aa;
    border-radius: 8px;
    background: white;
    margin-left: 32px;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    line-height: 35px;
}

main.card {
    display: flex;
}

main.card div.card {
    border-radius: 10px;
    max-height: 256px;
}

.produtos {
    width: 400px;
}

.nome-produto {
    text-align: center;
    align-items: center;
}

.descricao-produto {
    text-align: center;
    justify-content: center;
}

.ver-mais {
    background-color: #aadef8;
    padding: 5px 15px 5px 15px;
    margin-bottom: 8px;
    text-transform: uppercase;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
}

.ver-mais:hover {
    opacity: 0.7;
}

