/*---Universal style---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F8F4E3;
    display: flex;
    flex-direction: column;
}

main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                 Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                 'Helvetica Neue', sans-serif;    
    width: 100%;
    flex-grow: 1;
}

h2 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

/*---Card style---*/

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card {
    border: 2px solid #2c80aa;
    border-radius: 8px;
    background: white;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    line-height: 35px;
    margin-bottom: 15px;
}

.img-produtos {
    width: 400px;
    height: 400px;
}

.nome-produto {
    text-align: center;
    align-items: center;
}

.descricao-produto {
    text-align: center;
    justify-content: center;
}

.ver-mais {
    background-color: #aadef8;
    padding: 5px 15px 5px 15px;
    margin-bottom: 8px;
    text-transform: uppercase;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
}

.ver-mais:hover {
    opacity: 0.7;
}

